{% extends 'base.html.twig' %}

{% block body %}





    <!-- begin content -->
    <section id="slider-home">
        <!-- TRANSLATION EN/FR -->


        <!-- begin slider -->

        <header>

            <!-- begin Sub Bar -->
            <div class="subbar" >

                <div class="bannercontainer">
                    <div class="banner ">
                        <ul>

                            <!-- slide 1 -->


                            <li
                                    class="slide1"
                                    data-transition="fade"
                                    data-slotamount="1"
                            >
                                <img src="{{ asset('bundles/app/assets/images/slides/pano1.jpg')  }}" width='1440' height='400' alt="" title="">

                            </li>


                            <li
                                    class="slide1"
                                    data-transition="fade"
                                    data-slotamount="1"
                            >
                                <img src="{{ asset('bundles/app/assets/images/slides/pano2.jpg')  }}" width='1440' height='400' alt="" title="">

                            </li>


                            <li
                                    class="slide1"
                                    data-transition="fade"
                                    data-slotamount="1"
                            >
                                <img src="{{ asset('bundles/app/assets/images/slides/pano5.jpg')  }}" width='1440' height='400' alt="" title="">

                            </li>


                            <li
                                    class="slide1"
                                    data-transition="fade"
                                    data-slotamount="1"
                            >
                                <img src="{{ asset('bundles/app/assets/images/slides/Pano-Site-2015-3.jpg')  }}" width='1440' height='400' alt="" title="">

                            </li>


                            <li
                                    class="slide1"
                                    data-transition="fade"
                                    data-slotamount="1"
                            >
                                <img src="{{ asset('bundles/app/assets/images/slides/pano4.jpg')   }}" width='1440' height='400' alt="" title="">

                            </li>


                            <li
                                    class="slide1"
                                    data-transition="fade"
                                    data-slotamount="1"
                            >
                                <img src="{{ asset('bundles/app/assets/images/slides/pano-2b1.jpg')   }}" width='1440' height='400' alt="" title="">

                            </li>


                            <li
                                    class="slide1"
                                    data-transition="fade"
                                    data-slotamount="1"
                            >
                                <img src="{{ asset('bundles/app/assets/images/slides/pano2.jpg')   }}" width='1440' height='400' alt="" title="">

                            </li>


                            <li
                                    class="slide1"
                                    data-transition="fade"
                                    data-slotamount="1"
                            >
                                <img src="{{ asset('bundles/app/assets/images/slides/pano12.jpg')   }}" width='1440' height='400' alt="" title="">

                            </li>


                            <li
                                    class="slide1"
                                    data-transition="fade"
                                    data-slotamount="1"
                            >
                                <img src="{{ asset('bundles/app/assets/images/slides/pano-veloutier.jpg')   }}" width='1440' height='400' alt="" title="">

                            </li>


                            <li
                                    class="slide1"
                                    data-transition="fade"
                                    data-slotamount="1"
                            >
                                <img src="{{ asset('bundles/app/assets/images/slides/pano1.jpg')   }}" width='1440' height='400' alt="" title="">

                            </li>

                        </ul>
                    </div>
                </div>

            </div>

        </header>
        <!-- end slider -->
        <br/><br/>

        <div class="clear"></div>

        <section id="content" class="container clearfix">
            <div class="one-third">
                <div id="clean-design" class="iconbox icon-left">

                    <h1 class="unforget_main">Vacation villa rentals mauritius</h1>
                    <p class="iconbox-title_top ">Welcome</p>
                    <!--            <h2 class="iconbox-title_top ">Welcome</h2>-->
                </div>
            </div>
            <div class="two-thirdss">
                <div id="mobile-ready" class="iconbox icon-left">
                    <p>


                    <p>Founded in 2010, the Smart villas Mauritius mission is to meet the growing demand of holidaymakers looking for a genuine experience in Mauritius. Vacationers are mainly looking for an alternative to the standardised hotel proposals, without losing comfort while having an enrich experience of Mauritius&#8230;</p>




                    </p>
                </div>
            </div>
            <div class="one-eight">

                <a href="http://smart-villas-mauritius.com/wp-content/themes/Smartvillas/the-smartgirls">

                    <span class="home_but"> </span></a></div>
            <div class="clear"></div>


            <!-- Smartvillas Offres -->

            <div class="one-fourth w31">
                <!--Slider-->
                <div class="slider-wrapper">
                    <!-- Slides Container -->
                    <div id="slider">
                        <div class="property_imagediv slide1">

                            <img src="http://smart-villas-mauritius.com/wp-content/uploads/2016/06/private-beach.jpg" width="100%" alt="" title="">

                            <div id="hover_opacity" class="property_hover"> <a href="http://smart-villas-mauritius.com/en/offres/discount-for-casita-villas/">

                                    <p> -30 % in June and September 2016
                                        - 10% ( 1 week)  for July and August 2016
                                        - 15% (10 days or more ) for ...</p>
                                </a>
                            </div>
                        </div>

                        <div class="property_imagediv slide1">

                            <img src="http://smart-villas-mauritius.com/wp-content/uploads/2016/03/Barns1.jpg" width="100%" alt="" title="">

                            <div id="hover_opacity" class="property_hover"> <a href="http://smart-villas-mauritius.com/en/offres/25-off-the-residence/">

                                    <p> 25% off   Bookings from March 10th to April 30th  for travel from April 1st to June 30th ( 3-night minimum ...</p>
                                </a>
                            </div>
                        </div>


                    </div>
                    <div id="slider-control-nav"></div>

                </div>
                <h2 class="no_border">SPECIAL OFFERS</h2>
            </div>

            <div class="one-fourth w31">


                <div class="post_type">


                    <div class="property_imagediv">
                        <img src="http://smart-villas-mauritius.com/wp-content/uploads/2015/09/vignette-La-Pointe-1.jpg" width="100%" alt="" title="">


                        <div id="hover_opacity" class="property_hover"> <a href="http://smart-villas-mauritius.com/en/villas/beachfront/villa-la-pointe-2/">
                                <p></p>
                            </a> </div>
                    </div>

                </div>


                <h2 class="no_border">
                    NEW VILLA            </h2>
            </div>
            <div class="one-fourth w31">


                <div class="property_imagediv">

                    <img src="http://smart-villas-mauritius.com/wp-content/uploads/2014/06/xmauritius-beach-holidays-220x151.jpg" width="100%" alt="" title="">

                    <div id="hover_opacity" class="property_hover">

                        <a href="http://smart-villas-mauritius.com/wp-content/themes/Smartvillas/smartvillas-film">

                            <p>The 1st offshore race in Grand Baie Yacht Club...</p>
                        </a>
                    </div>
                </div>

                <h2 class="no_border">
                    SMART MAURITIUS
                </h2>

            </div>
            <div class="one-fourth w31">

                <div class="property_imagediv">
                    <iframe class="" id="googleMap_main" src="https://www.google.com/maps/d/embed?mid=z10Av7CsjyJ4.kxZ5r8z9nrVk"> </iframe>
                </div>


                <h2 class="no_border">GOOGLE MAP

                    <a href="http://smart-villas-mauritius.com/en/google-map" title="Google Map">[+]</a>

                </h2>

            </div>
            <div class="one">
                <hr>
            </div>
            <div class="clear"></div>

            <div class="three-fourths_h">

                <h2 class="iconbox-title">NEWS</h2>

                <h2 class="iconbox-title_top1 ">THE DRAGON BOAT FESTIVAL</h2>
                <p>

                    The Dragon Boat Festival is an annual event organised by the Ministry of Arts and Culture in collaboration with the China Cultural Centre and the Dragon and Lion Dance Federation. Apart from the Dragon Boat races, the Chengdu Artistic Troupe<a href="http://smart-villas-mauritius.com/en/news/the-dragon-boat-festival/"> ...READ MORE</a><br/>Jun 4
                </p>


                <p><a href="http://smart-villas-mauritius.com/en/news/">VIEW ALL NEWS</a></p>


            </div>



            <div class="one-fourth column-last">
                <div id="mobile-ready" class="iconbox icon-left">
                    <h2 class="iconbox-title">CONTACT US</h2>

                    <p>
                        <a href="mailto:marie@smartvillas-m.com">marie@smartvillas-m.com</a><br>
                        +230 59881444                        </p>

                    <p>
                        <a href="mailto:nathalie@smartvillas-m.com">nathalie@smartvillas-m.com</a><br>
                        +230 52574986                        </p>

                    <p>
                        <a href="mailto:benedicte@smartvillas-m.com">benedicte@smartvillas-m.com</a><br>
                        +230 57362122                        </p>


                </div>
            </div>

            <!--RECENTADDED-->
            <div class="clear"></div>
            <div class="one">
                <hr>
            </div>
            {#<div class="one-half--">#}

            {{ homepage.content |raw }}

            {#<div class="one-half">#}
                {#<div id="clean-design" class="iconbox icon-left">#}

                    {#<h2>SMARTVILLAS MAURITIUS LTD</h2>#}
                    {#<p>Decision made, you have chosen Mauritius as your next destination. You are looking for the perfect getaway with the comfort you are used to. Whatever your objectives are for your holidays, a quiet place, water sports, cultural outings or hiking, enjoy the opportunity to take what Mauritius has to offer.</p>#}
                    {#<p>Basically you want to avoid a hotel and you are looking for<strong> vacation villa rentals in Mauritius</strong> but have a hard time knowing where to find the right villa or how to choose it?</p>#}
                    {#<p>Your answer is here. Smart Villas has a large portfolio with over 100 <a title="Vacation villa rentals in Mauritius" href="http://smart-villas-mauritius.com/en/villas-2/"><strong>villas for rent in Mauritius</strong>.</a></p>#}
                    {#<p><a title="Best deal rentals in Mauritius" href="http://smart-villas-mauritius.com/en/category/best-deals/">Best deal rentals in Mauritius</a>, <a title="Beachfront Villas in Mauritius" href="http://smart-villas-mauritius.com/en/category/beachfront/">Beachfront Villas in Mauritius</a>, <a title="Residences in Mauritius" href="http://smart-villas-mauritius.com/en/category/residences/">Residences in Mauritius</a>, <a title="Premium Villas in Mauritius" href="http://smart-villas-mauritius.com/en/category/premium-villas/">Pemium Villas in Mauritius</a> or <a title="Luxury Beachfront Villas in Mauritius" href="http://smart-villas-mauritius.com/en/category/luxury-beachfront/"><strong>Luxury Beachfront Villas in Mauritius</strong></a>, <strong>vacation villa rentals in Mauritius</strong> is our business. Our services offer a selection of villas  according to your needs such as the location on the island, the number of rooms and/or the services attached.</p>#}
                    {#<h2>SERVICES</h2>#}
                    {#<p>Smart Villas is not limited to <strong>vacation Villa rentals in Mauritius</strong>. Find related services that accompany these Residences and Villas on Smart Villas Mauritius. Smart Villas Mauritius personally welcomes you at the villa and guides you on the best discoveries to do on the island. A housekeeper and often a cook are attached to the villas and it is also possible to request extra services.</p>#}

                {#</div>#}
            {#</div>#}
            {#<div class="one-half">#}
                {#<div id="clean-design" class="iconbox icon-left">#}

                    {#<h2>SMARTBOOK</h2>#}
                    {#<p>Choosing a villa is more difficult than anticipated? Head to the smartbook and  read the reviews of previous vacationers. Their <strong>experience</strong> and feedback might be just what you need to make up your mind.</p>#}
                    {#<p>If you have already tried <strong>Smart Villas</strong> Mauritius, share your <strong>opinion</strong> with us. Feedback is an excellent way to improve the <strong>experience</strong> of future users of our services.</p>#}
                    {#<h2> SMARTBUY</h2>#}
                    {#<p>We have created a great network amongst the hundred of villas and residence owners and the vacationers. If you would like to join this network, or if you are interested in acquiring assets in Mauritius, you should know that Smart Villas is also open to help you.</p>#}
                    {#<p>With its knowledge of the IRS/RES Projects (allowing foreigners to invest in properties) in Mauritius, Smart Villas can also be present and advise objectively on your investment projects. The "Smart Buy" section contains the information needed for those seeking to invest in luxury villas in Mauritius.</p>#}
                    {#<p>The Smart Villa Property expertise is here to help you have the proper tools and knowledge to benefit of the fiscal advantages by investing in Mauritius. The team is present to help realise your dream with an excellent return on investment.</p>#}
                {#</div>#}
            {#</div>#}

            <!--RECENTADDEDEND-->


        </section>
        <!-- end content -->

        ﻿

        <!-- TRANSLATION EN/FR -->

    </section><!-- #main -->






{% endblock %}

{% block stylesheets %}

{% endblock %}
