{% extends 'base.html.twig' %}

{% block body %}
    <h1>LandLord</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ landLord.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ landLord.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ landLord.description }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ landLord.street }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ landLord.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ landLord.state }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ landLord.country }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ landLord.telephone }}</td>
            </tr>
            <tr>
                <th>Websiteurl</th>
                <td>{{ landLord.websiteUrl }}</td>
            </tr>
            <tr>
                <th>Contactemail</th>
                <td>{{ landLord.contactEmail }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('_edit', { 'id': landLord.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
