{% extends 'innerbase.html.twig' %}

{% block body %}
    <h1>VillaLocation list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Metatitle</th>
                <th>Metadescription</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for houseLocation in houseLocations %}
            <tr>
                <td><a href="{{ path('houselocation_show', { 'id': houseLocation.id }) }}">{{ houseLocation.id }}</a></td>
                <td>{{ houseLocation.metaTitle }}</td>
                <td>{{ houseLocation.metaDescription }}</td>
                <td>{{ houseLocation.name }}</td>
                <td>{{ houseLocation.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('houselocation_show', { 'id': houseLocation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('houselocation_edit', { 'id': houseLocation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('houselocation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
