{% extends 'base.html.twig' %}

{% block body %}
    <h1>VillaLocation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ villaLocation.id }}</td>
            </tr>
            <tr>
                <th>Metatitle</th>
                <td>{{ villaLocation.metaTitle }}</td>
            </tr>
            <tr>
                <th>Metadescription</th>
                <td>{{ villaLocation.metaDescription }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ villaLocation.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ villaLocation.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('villalocation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('villalocation_edit', { 'id': villaLocation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
